/* CSS file for the website */
header {
    background-color: rgb(33,29,81);
    display: flex;
    padding: 20px;
}

body {
    background-color: rgb(33,29,81);
    color: white;
}

.links{
    display: flex;
    height:50px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.links :hover {
    background-color: #4c67ff;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 23px;
    text-decoration: bold;
}

#logo {
    padding-right: 48%;
}

footer {
    display: flex;
    background-color: rgb(33,29,81);
    height: auto;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    padding:20px;
    color: white;
    align-content: flex-start;
    flex-wrap: wrap;
}

.footer_links {
    color: white;
    padding-top: 0px;
    padding-left:600px;
    align-items: center;
    display: flex;
    width: auto;
}

#charity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

body {
    margin: 0px;
}

#mailto {
    text-decoration: underline;
    color: white;
}

#volunteerbutton {
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
}

#volunteerbutton:hover {
    background-color: #4c67ff;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

#impacttitle {
    text-align: center;
    font-size: 50px;
    padding: 20px;
}

#impactsection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.impactbox {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 280px;
    height: 130px;
    padding: 40px;
    background-color: rgb(33,29,81);
    color: white;
}

#mailinglist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}


#donateform {
    margin: 0px auto; 
    max-width: 420px; 
    width: 100%;
}

.donate_amount_button {
    width: 100px;
}

#content {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}


#sidebar {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: left;
    align-items: left;
    padding: 20px;
    background-color: rgb(33,29,81);
    color: white;
    width: 200px;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

.sidebar-link:hover {
    background-color: #4c67ff;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-size: 23px;
}

.activity-feed {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: rgb(33,29,81);
    color: white;
    padding-left: 100px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

#hoursandactivity {
    display: flex;
    justify-content: space-between;
}

.activity-item {
    margin-bottom: 20px;
}