{% extends "layout.html" %}

{% block content %}
<div>
    <div>
        <h1>Will you help build the next generation of community?</h1>
    </div>
    <div id="donateform">
        <button type="button" class="donation_amount_button">
            <p>$50</p>
        </button>
        <button type="button" class="donation_amount_button">
            <p>$100</p>
        </button>
        <button type="button" class="donation_amount_button">
            <p>$500</p>
        </button>
        <button type="button" class="donation_amount_button">
            <p>$1,000</p>
        </button>
        <div>
            <form id="custom_amount_donation">
                <input placeholder="$10">
            </form>
        </div>
    </div>
</div>
{% endblock %}